<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>962212241938-0mmuif4110udsehaobnhqh9670krvonb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.962212241938-0mmuif4110udsehaobnhqh9670krvonb</string>
	<key>API_KEY</key>
	<string>AIzaSyDJoblMofatJ4xlFLNqFaeIlkA7CMJYyeg</string>
	<key>GCM_SENDER_ID</key>
	<string>962212241938</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DongHee.SeSacFirebaseExample</string>
	<key>PROJECT_ID</key>
	<string>sesac2firebaseexample</string>
	<key>STORAGE_BUCKET</key>
	<string>sesac2firebaseexample.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:962212241938:ios:52279532878fefcf712ecb</string>
</dict>
</plist>